env_root='/home/yanyg/work/lfs'
env_source='/home/yanyg/work/lfs/sources'
env_work=''
env_arch='i686'
env_tgt='i686-yc-linux-gnu'
env_cpu_core='2'
env_img='/home/yanyg/work/lfs/qemu/i686.img'
env_mount='/home/yanyg/work/lfs/mount-i686'
[ -z "${PATH##/tools/bin*}" ] || PATH=/tools/bin:$PATH
set +h
umask 022
LC_ALL=POSIX
