env_root='/home/yanyg/work/lfs-7.0-release'
env_source='/home/yanyg/work/lfs-7.0-release/sources'
env_tools='/home/yanyg/work/lfs-7.0-release/mount-x86_64/tools'
env_arch='x86_64'
env_tgt='x86_64-yc-linux-gnu'
env_cpu_core='4'
env_img='/home/yanyg/work/lfs-7.0-release/qemu/x86_64.img'
env_mount='/home/yanyg/work/lfs-7.0-release/mount-x86_64'
[ -z "${PATH##/tools/bin*}" ] || PATH=/tools/bin:$PATH
set +h
umask 022
LC_ALL=POSIX
